::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(219, 219, 218);        /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d39799;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(165, 115, 115);  /* creates padding around scroll thumb */
  }