<h1>Marvel Home</h1>
<!-- <div class="card">
    <div class="card-head">Lorem ipsum - Home</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi magni ea in dolore fugit natus excepturi, dolorum ex labore, earum recusandae voluptate pariatur. Blanditiis alias odit illum voluptates magnam in.
    </div> -->
    <div class="centerBackgroundImage">
        <img src="../../../assets/marvel-comics.png" style="opacity: 3.0%;">
    </div>
<!-- </div> -->